:root {
  --gradient: linear-gradient(to left top, #dd2476 10%, #ff512f 90%) !important;
}
body {
  background: #111 !important;
}
.App{
background-color:#222;
}
.cardPlace {
  background-color: #222;
  margin-left: 100px;
}

.cards {
  background-color: #111 !important;
  border: 1px solid #dd2476 !important;
  color: rgba(250, 250, 250, 0.8);
  margin: 2rem 2rem;
  font-size: small;
}
/* .card-body{
  
} */

.btn {
  border: 5px solid !important;
  border-image-slice: 1 !important;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source: var(--gradient) !important;
  text-decoration: none;
  transition: all 0.4s ease;
}

.btn:hover,
.btn:focus {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}

.judul {
  margin-left: 50px;
  font-family: "Bebas Neue", cursive;
  font-size: xx-large;
}
.navbar{
  position: sticky !important;
  top: 0;
  display: block;
  z-index: 999;
}