:root {
  --gradient: linear-gradient(to left top, #dd2476 10%, #ff512f 90%) !important;
}
body {
  background: #111 !important;
}
.App{
background-color:#222;
}
.cardPlace {
  background-color: #222;
  margin-left: 100px;
}

.cards {
  background-color: #111 !important;
  border: 1px solid #dd2476 !important;
  color: rgba(250, 250, 250, 0.8);
  margin: 2rem 2rem;
  font-size: small;
  width: 250px;
}
@media screen and (max-width: 400px) {
  .cards{
    width: 200px;
  }
}
/* .card-body{
  
} */

.btn {
  border: 5px solid !important;
  border-image-slice: 1 !important;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source: var(--gradient) !important;
  text-decoration: none;
  transition: all 0.4s ease;
}

.btn:hover,
.btn:focus {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #fff !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;
}

.judul {
  margin-left: 50px;
  font-family: "Bebas Neue", cursive;
  font-size: xx-large;
}
.navbar{
  position: sticky !important;
  top: 0;
  display: block;
  z-index: 999;
}
.img-avatar{
  border-radius: 50%;
  width: 13%;
  margin: 0px 15px;
}
.img-profile{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0px 15px;
}

/* Spinner loading */
#loading {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 5px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}